
body{
    background-color: black;
    margin-left: 39%;
    margin-top: 50px;
}
#container{
    display: flex;
    flex-direction: column;
    max-width:35%;
    border: solid rgb(255, 255, 255) 2px;
    
    
}
#lamp{
    
}
button{
    height: 40px;
}